<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>

    <main id="mainContent">
        <div class="calendar">
            <%- include('partials/m1_jan') %>
            <%- include('partials/m2_feb') %>
            <%- include('partials/m3_mar') %>
            <%- include('partials/m4_apr') %>
            <%- include('partials/m5_may') %>
            <%- include('partials/m6_jun') %>
            <%- include('partials/m7_jul') %>
            <%- include('partials/m8_aug') %>
            <%- include('partials/m9_sep') %>
            <%- include('partials/m10_oct') %>
            <%- include('partials/m11_nov')%>
            <%- include('partials/m12_dec') %>
        </div>

        <%- include('partials/holidayTable.ejs') %>
        
        <footer>
            <%- include('partials/footer') %>
        </footer>
    </main>
</body>
</html>

